@font-face {
    font-family: Caleu;
    src: url("../fonts/Caleu___.ttf");
}
html, body {
    background: linear-gradient(312deg, #ff9300, #ff5000, #ff7a00, #ff4700);
    background-size: 800% 800%;
    -webkit-animation: Magma 30s ease infinite;
    -moz-animation: Magma 30s ease infinite;
    animation: Magma 30s ease infinite;
    height: 100%;
}
.container {
    margin-top: 2vw;
    background-color: black;
    color: white;
    border-radius: 35px;
    text-align: center;
    font-family: Caleu
}
@-webkit-keyframes Magma {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes Magma {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes Magma {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@media(max-width:554px) {
    h1 {
        font-size: 275% !important;
    }
}
h1 {
    font-size: 350%;
}
.container p {
    font-size: 130%;
}
.spacer {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
a, a:visited {
    color: #FF9300;
    text-decoration: none;
}
a:hover, a:focus {
    color: rgb(207, 121, 0);
    text-decoration: none;
}
.divider {
    background-color: #FF9300;
    height: 2px;
    width: 95%;
    text-align: center;
}
img.icon {
    width: 60%;
    margin-bottom: 25%;
    text-align: left !important;
}
.app p {
    font-size: 115%;
}
footer {
    background-color: black;
    color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    text-align: center;
    font-family: Caleu;
    width: 85vw;
    bottom: 0;
    position: absolute;
    left: 7.5%;
}
footer h5{
    margin-top: .75vw;
}
footer p {
    margin-bottom: .75vw;
}